# configuration for the app
name: mytestapp
version: 0.0.1
description: "A simple test app"
license: MIT
author: "Claudio Driussi"
log_file: "devtest.log"

# folders which contain plugins
plugins: [plugins, plugins/libapp]

# db engine for sqlalchemy
db_engine: "sqlite:///:memory:"

# API configuration
api:
  prefix: "coframe"  # All Coframe endpoints will be under /coframe/api/...
  port: 8300         # Default Coframe server port (evocative: 8xxx HTTP-like, 3=C of Coframe)

# table and fields used for authentication
authentication:
  user_table: User
  username_field: username
  password_field: password
  context_fields: [id, email, is_active, is_admin]

# the endpoint `read_file` can send files to client we can decide the
# directory white list and the extensions that has to be treated as text
read_files:
  allowed_dirs: ['data','images']
  text_suffix: ['.txt', '.md', '.xml']

# addiction imports for the source code generator
# source_imports: ['import sys', 'import os']
source_add: |
  def initialize_db(db_url: str):
      from sqlalchemy import create_engine
      engine = create_engine(db_url)
      Base.metadata.create_all(engine)
      return engine


  if __name__ == "__main__":
      initialize_db('sqlite:///:memory:')
